body {
    background: linear-gradient(
      to right,
      rgb(30, 53, 19),
      rgba(85, 90, 14, 0.952)
    );
  }
  .first {
    font-size: 50px;
    position: absolute;
    margin: 50px;
    left: 30%;
  }
  .second {
    font-size: 20px;
    position: absolute;
    left: 27%;
    top: 27%;
  }
  #value {
    position: absolute;
    left: 45%;
    text-shadow: 1px 1px 2px black, 0 0 1em blue, 0 0 0.2em darkblue;
    color: white;
  }
  button {
    margin: 10px;
    font-size: 20px;
    background-color: rgb(17, 59, 9);
  }
  button#save {
    padding: 0px 30px;
  }
  button#reset {
    padding: 0px 30px;
  }
  h2 {
    font-size: 30px;
    position: absolute;
    top: 35%;
    left: 27%;
  }